/* InputField.scss */
@import '../../variables';

.input-field {
  padding: 8px 12px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.input-field:focus {
  border-color: $color-blue-accent;
}
