@import '../../variables';


.footer {
  background-color: $color-bg;
  border-top-color: $color-border-top;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 20px 0 0;
  text-align: center;


  &-container {
    color: $color_card-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 40px;
    width: calc($width-breakpoint + 40vh);


  }

  &-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    //margin-bottom: 20px;

    a {
      text-align: left;
    }
  }

  //&-logo {
  //}
  //
  //&-nav {
  //}
  //
  //&-links {
  //}
  //
  //&-copyright {
  //}
}