// Цвета
$color-white: #fff;
$color-black: #000;
$color-gray: #333333;
$color-green: #10AD76;
$color-light-gray: #e8e8e8;
$color-bg: #282828;
$color-blue: #f0f7ff;
$color-border: #E2E1E1;
$color-card-bg: #ffffff;
$color-plus: #183e31;
$color-tag-hover-bg: #ddfff5;
$color-tag-active-hover: #4ce8b2;

// Тени
$card-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
$btn-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);

// Бордеры
$card-border-radius: 12px;
$tag-border-radius: 39px;
$btn-border-radius: 8.12px;

// Прочее
$card-padding: 20px;
$tag-padding: 7px 10px;
$btn-padding: 0.6em 1.4em;
$btn-margin: 4px 20px;
$header-height: 64px;
$landing-cards-padding: $header-height *10;
$width-breakpoint: 992px;
$color-border-top: $color-light-gray;
