// Цвета
$color-border: #E2E1E1;
$color-border-hover: #333333;
$color-card-bg: #ffffff;
$color-card-text: #333333;
$color-tag-border: #333333;
$color-tag-text: #333333;
$color-card2: #10AD76;
$color-btn-hover-bg: #f0f7ff;
$color-btn-active-text: #fff;
$color-tag-hover-bg: #ddfff5;
 $color-tag-border-hover: #10AD76;
$color-tag-active-hover: #4ce8b2;
$color-bg: #282828;
$plus-color: #183e31;
// Тени
$card-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
$btn-shadow: 0 2px 8px rgba(25, 118, 210, 0.08);

// Бордеры
$card-border-radius: 12px;
$tag-border-radius: 39px;
$btn-border-radius: 8.12px;

// Прочее
$card-padding: 20px;
$tag-padding: 7px 10px;
$btn-padding: 0.6em 1.4em;
$btn-margin: 4px 20px;

//519px;
$header-height: 64px;
$landing-cards-padding: $header-height *10;