@import './variables';

#root {


  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.align-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main {
  width: 992px;
  margin: auto;
  max-width: -webkit-fill-available;
}



.block {
  z-index: 100;

  border: 1px solid $color-border;
  border-radius: $card-border-radius;
  padding: $card-padding;
  color: $color-card-text;
  background-color: $color-card-bg;
}


.card {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  flex-direction: column;

  align-items: flex-start;
  width: fit-content;
  margin: 0;
  transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1), margin 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.7s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  transform: translateY(0);
  //display: none;
  //image{
  //  width: 10%;
  //  height: auto;
  //  border-radius: 8px;
  //}
  img {
    width: 100%;
    max-height: 250px;
    height: 30%;
    border-radius: $card-border-radius;
    object-fit: cover;
  }

  h2 {
    width: auto;
    height: auto;
    margin: 0;
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 19px;
    text-align: left;
    color: #000;
  }

  p {
    text-align: justify;
  }

  &:hover {
    box-shadow: $card-shadow;
    border: 1px solid $color-tag-border-hover;
  }
}