@use './variables' as *;

#root {


  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.align-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main {
  margin: auto;
  max-width: (-webkit-fill-available);
  width: $width-breakpoint;
}



.block {
  z-index: 100;

  border: 1px solid $color-border;
  border-radius: $card-border-radius;
  padding: $card-padding;
  color: $color-gray;
  background-color: $color-card-bg;
}

.window-divider{
  width: $width-breakpoint;
  margin: auto;
}
