// Переменные
@import '../../variables';


.header {

  align-items: center;
  background-color: var(--header-bg);
  color: var(--header-color, #{$color-white});
  height: $header-height;
  position: relative;
  width: (-webkit-fill-available);
  // Основной контейнер хедера
  //margin-bott/om: 10px;
  z-index: 100;

  &__visibiliytyt-helper {

    align-items: center;
    display: flex;
    height: (-webkit-fill-available);
    justify-content: space-between;
    margin: auto;
    max-width: (-webkit-fill-available);
    padding-left: 67px;
    padding-right: 67px;
    width: 1224px;
  }

  &__container {

    // ...
  }

  // Логотип
  &__logo {
    color: var(--header-logo-color, #{$color-white});
    font-family: var(--third-family), sans-serif;
    font-size: 30px;
    font-weight: 600;

  }

  // Навигация
  &__nav {

    // ...
    &-list {

      display: flex;
      gap: 44px;
      justify-content: space-between;

      button {
        background: transparent;

        border: 2px solid transparent;
        color: var(--header-link-color, #{$color-white});
        font-size: 16px;
        font-weight: 400;
        height: (-webkit-fill-available);
        opacity: 60%;
        text-align: center;
        text-decoration: none;
        transition: 0.3s;
        width: (-webkit-fill-available);


      }

      :hover {
        opacity: 100% !important;
        transition: 0.3s;
      }

      .--active {
        opacity: 100%;
        border-bottom: 2px solid var(--header-link-color, #{$color-white});
        padding-bottom: 4px;
        transition: all 0.3s ease;
      }
    }


    &-item {
      // ...
    }

    &-link {
      // ...
    }
  }

  // Кнопки
  &__actions {
    // ...
    &-button {
      // ...
    }
  }

  // Аватар пользователя/иконка профиля
  &__profile {
    // ...
  }

  // Модификатор для белой темы
  &--light {
    --header-bg: #{$color-white};
    --header-color: #222;
    --header-logo-color: #222;
    --header-link-color: #222;
    // Можно добавить другие переменные для светлой темы
  }

  // Адаптивность
  @media (max-width: 1024px) {
    // ...
  }
  @media (max-width: 768px) {
    // ...

  }
}